{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Instituto Nacional de Telecomunicações{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    {% block extra-css %} {% endblock %}

    <link rel="icon" href="{% static 'img/favicon.ico' %}">
</head>

<body>

    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">
            <img class="mx-auto" src="{% static 'img/logo-inatel.png' %}" height="15" alt="Inatel">
        </a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <span class="w-100"></span>
        <div class="navbar-nav">
            <div class="nav-item text-nowrap">
                <a class="nav-link px-3" href="{% url 'logout' %}">Sair</a>
            </div>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row">

            {% include "nav.html" %}

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">{% block content-title %}Bem-vindo {{ user.get_full_name }} {% endblock %}</h1>
                </div>
                {% block content %}
                    <h4>Teste Técnico Inatel</h4>

                    <h6>1. Criar uma interface gráfica para Login e Tela principal do sistema</h6>
                    <p>
                    --> http://localhost:8000/login/ e http://localhost:8000/
                    </p>

                    <h6>2. Tela de Login contendo os campos “usuário” e “senha” previamente cadastrados</h6>
                    <p>
                    --> http://localhost:8000/login/ <br />
                    --> Usuário criado no momento do deploy com docker (admin/admin). 
                    </p>

                    <h6>3. Criar um botão que deverá consumir uma API pública (de sua escolha) e exibir os resultados na
                        tela</h6>
                    <p>
                    --> Menu: Clima (Dados API). URL: http://localhost:8000/weather/<br />
                    --> API que acessa o a previsão de clima pelos próximos 4 dias passando as coordenadas.
                    </p>

                    <h6>4. Criar um campo na tela para selecionar um arquivo dos tipos “.xlsx” ou “csv”</h6>
                    <p>
                    --> Menu: Importar Dados. URL: http://localhost:8000/core/schedule/import/ <br />
                    --> Realiza Verificação de Tipos. Aceita apenas arquivos CSV e XLSX. <br />
                    --> O arquivo é lido, verificado e retorna mensagem de erro caso encontre alguma inconsistência. <br />
                    --> O arquivo inatel.csv na raiz do projeto é um modelo. <br />
                    --> Os dados do arquivo são salvos nos models do módulo core.
                    </p>

                    <h6>5. Criar uma “view” com “serializers” para exibir dados dos arquivos em uma tela específica</h6>
                    <p>
                    --> Menu: Visualizar Importação. URL: http://localhost:8000/core/schedule/list/ <br />
                    --> É listado todas as importação. Ao clicar na ação "Visualizar dados do arquivo" é mostrado os dados serializados.
                    </p>

                    <h6>6. Criar o Admin Panel para validação dos dados</h6>
                    <p>
                    --> Utilizei e customizei o próprio Admin do Django para visualizar os dados importados. <br />
                    --> A validação ocorre de forma automática durante o upload do arquivos. Qualquer alteração de dado pode ser realizado no Admin. <br />
                    --> http://localhost:8000/admin
                    </p>

                    <h6>7. Criar Logs de histórico de tudo que for realizado no sistema</h6>
                    <p>
                    --> middleware localizado em logs/middeware.py <br />
                    --> É salvo em outro banco de dados como pode ser visto no arquivo .env.example
                    </p>
                {% endblock %}
            </main>
        </div>
    </div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/feather.min.js' %}"></script>
    <script>
        feather.replace()
    </script>
    {% block extra-js %} {% endblock %}
</body>

</html>