<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'index' %}">
                    <span data-feather="home"></span>
                    Página Inicial
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'weather:index' %}">
                    <span data-feather="file"></span>
                    Dados API
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'core:import-work-schedule' %}">
                    <span data-feather="shopping-cart"></span>
                    Importar Dados
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'core:schedule-list' %}">
                    <span data-feather="users"></span>
                    Visualizar Importação
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="bar-chart-2"></span>
                    Validar Dados
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="layers"></span>
                    Logs
                </a>
            </li>
        </ul>
    </div>
</nav>